{profiles, [
    {dev, [
        {plugins, [
            {rebar3_gpb_plugin, "2.3.2"}
        ]},
        {provider_hooks, [
            {pre, [
                {compile, {protobuf, compile}},
                {clean, {protobuf, clean}}
            ]}
        ]}
    ]},
    {test, [
        {erl_opts, [nowarn_export_all]},
        {ct_opts, [{create_priv_dir, auto_per_tc},
                   {config, "test/ct.config"}]},
        {plugins, [
            rebar3_proper
        ]},
        {deps, [
            {proper, {git, "https://github.com/tryt007/store", {branch, "master"}}}
        ]},
        {extra_src_dirs, ["test/support"]}
    ]}
]}
